################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Main Project/BuffetAssistant/.vs/BuffetAssistant/v16/Server/sqlite3
